import * as React from 'react'

interface I{{properCase name}}Props {}

const {{properCase name}}: React.FC<I{{properCase name}}Props> = () => (
    <span>Hello</span>
)

export default {{properCase name}}
