.sidebar-link-active {
	text-decoration: none;
	background-color: #ececec;

	&:hover {
		text-decoration: none;
		background-color: #079E99;

		a,
		span {
			color: #fff !important;
		}
	}
}

.sidebar-ul {
	padding: 0 !important;
	margin: 0 !important;
	//margin: 1em 0 0 0 !important;
}

input.tag-search {
	border-left: 0 !important;
	border-right: 0 !important;
	height: 30px !important;

	&::placeholder {
		font-size: 14px;
		color: #989c9e;
	}
}

.plus-icon {
	right: 10px;
}
