.mentionList {
    border-radius: 5px;
    z-index: 5;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            padding: 0 1em;
        }
    }
}

.mentionItem {
    background: white;

    &.selected {
        background: red !important;
    }
}

.editorContainer {
    position: relative;
}

.editorSpin {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 0;
}

.tipInput {
    margin-left: 1em !important;
    width: 8rem;
}