.mentionList {
    border-radius: 5px;
    z-index: 5;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            padding: 0 1em;
        }
    }
}

.mentionItem {
    background: white;

    &.selected {
        background: red !important;
    }
}

.editorContainer {
    position: relative;

    div[class*='ql-container ql-snow'],
    div[class*='ql-toolbar ql-snow'] {
        transition: 0.25s all ease-in-out;
    }

    &:focus-within {
        div[class*='ql-toolbar ql-snow'] {
            border-left-color: #079e99;
            border-top-color: #079e99;
            border-right-color: #079e99;
        }
        div[class*='ql-container ql-snow'] {
            border-left-color: #079e99;
            border-bottom-color: #079e99;
            border-right-color: #079e99;
        }
    }
}

.editorSpin {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 0;
}

.tipInput {
    margin-left: 1em !important;
    width: 8rem;
}
