{
    "presets": ["next/babel"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@components": "./components/index",
                    "@models": "./models",
                    "@pages": "./pages",
                    "@d.ts": "./types",
                    "@constants": "./constants",
                    "@novuspherejs": "./novusphere-js",
                    "@stores": "./stores",
                    "@modules": "./modules",
                    "@styles": "./styles",
                    "@utils": "./utils",
                    "@router": "./routes.ts",
                    "@globals": "./constants/globals"
                }
            }
        ]
    ]
}
