.settings-card {
	@extend .pa4;
}

.settings-tabs {
	box-shadow: 0 1px 2px #c9cccd;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 0;

	@extend .mt0;
}

.settings-tab {
	@extend .pointer;
	@extend .ph2;
	@extend .pv3;
	@extend .tc;

	font-weight: 800;
	color: black;
	list-style-type: none;
	flex: 1;
	border: none;
	border-radius: 0;

	&.react-tabs__tab--selected {
		background: #079E99;
		color: white;
	}
}
