.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.banner {
    display: block;
    width: 100%;
    height: 150px;
    background: #101011;
    border-radius: 5px;

    img {
        border-radius: 5px;
        width: 100%;
        height: 150px;
        object-fit: contain;
    }
}

.mainContainer {
    margin-top: 60px;
}

.footer {
    text-align: center;
}

.container {
    width: 100%;
    //padding-right: 15px;
    //padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.tagOverlay {
    width: 400px !important;
}
