.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.banner {
    margin-top: 55px;
    width: 100vw;
    height: 75px;
    background: #101011;

    img {
        width: 100%;
        object-fit: contain;
        height: 75px;
    }
}

.content {
    margin-top: 5px;
}

.footer {
    text-align: center;
}

.headerIntractable {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.container {
    width: 100%;
    //padding-right: 15px;
    //padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.tagOverlay {
    width: 400px !important;
}
