.userBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  margin-left: 0.5em;
}

.userLink {
  font-weight: 500;
  color: $secondaryLink !important;
}

.userOptions {
  width: 200px !important;
}
