.userBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userLink {
  font-weight: 500;
  color: #000000 !important;
}

.userOptions {
  padding: 0 !important;
}
