form {
    display: flex;
    flex-direction: column;
    width: auto;
}

.error {
    color: red;
}

.rs__menu {
    z-index: 5 !important;
}

.form-input {
    height: 50px !important;
}

.field-container {
    position: relative;
    user-select: none;

    &.inline-labels {
        @extend input;
        @extend .flex;
        @extend .items-center;
        @extend .justify-between;

        input {
            @extend .w-100;
            @extend .f6;

            height: 36px;
            padding: 0.375rem 0.75rem;
            display: block;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            border: 1.5px solid #E9EBEE;
            box-sizing: border-box;
            border-radius: 2px;
        }

        .rs__control {
            align-items: center;
            background-color: hsl(0,0%,100%);
            cursor: default;
            display: flex;
            flex-wrap: wrap;
            -ms-flex-pack: justify;
            justify-content: space-between;
            min-height: 38px;
            outline: 0 !important;
            position: relative;
            transition: all 100ms;
            border: 1.5px solid #E9EBEE;
            box-sizing: border-box;
            border-radius: 2px;
        }

        label {
            padding-top: calc(0.375rem + 1px);
            padding-bottom: calc(0.375rem + 1px);
            margin-bottom: 0;
            font-size: inherit;
            line-height: 1.5;
        }
    }

    textarea,
    input {
        display: block;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        border: 1.5px solid #E9EBEE;
        box-sizing: border-box;
        border-radius: 2px;
    }

    textarea {
        @extend .w-100;
        min-height: 200px;
        height: auto;
    }

    .checkbox-label {
        display: inline-block;
        padding: 0 0 0 30px; // minimum 25px due to checkbox width
    }

    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    button:disabled,
    input[type='text']:disabled {
        @extend .o-50;
        cursor: not-allowed;
    }

    .checkbox:after {
        content: '';
        position: absolute;
        display: none;
    }

    & input:checked ~ .checkbox:after {
        display: block;
    }

    .checkbox {
        background: white;
        border: gray;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;

        &:after {
            left: 6px;
            top: 3px;
            width: 5px;
            height: 10px;
            border-style: solid;
            border-color: green;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.hint {
    @extend .f6;
    @extend .lh-copy;
}

.rs__single-value,
.rs__placeholder {
    @extend .f6;
    //font-size: 1rem;
    font-weight: 400;
    color: #495057;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: 1.5px solid #E9EBEE;
    box-sizing: border-box;
    border-radius: 2px;
}

.ql-toolbar.ql-snow {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
