.title-header {
	height: 55px;
	background-color: #fff;
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
}

.user-container {
	@extend .pa2;
	@extend .ml2;
	border-radius: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.15);
}
