.header-image {
	@extend .justify-center;
	@extend .items-center;
	@extend .flex;
	background: #101011;
	height: 75px;

	img {
		@extend .w-100;
		object-fit: contain;
		height: 75px;
	}
}

footer {
	a {
		@extend .no-underline;
		@extend .black;
		@extend .dim;
	}
}
