.notification-tooltip {
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 150px;
}

.notification-item {
	@extend .flex;
	@extend .flex-column;
	@extend .pointer;

	//overflow: hidden;
	border-bottom: 1px solid #FAFAFA;

	&:hover {
		background-color: #FAFAFA;
	}

	&:last-of-type {
		border-bottom: none;
	}

	padding: 1em 1em !important;
}

.notifications-content {
	@extend .flex;
	@extend .flex-column;
	@extend .items-start;
	@extend .tl;
	@extend .f6;

	position: relative;
	max-height: 50px;
	overflow: hidden;

	> p {
		padding: 0;
		margin: 0;
	}
}

.notification-content-fade {
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: 0;
		background: linear-gradient(hsla(0, 0%, 100%, 0) 75%, #fff 85%);
	}
}

.notification-count {
	color: #ad3b2b;
}
