.post-preview {
    @extend .mb2;
    @extend .pointer;
    @extend .ba;
    @extend .b--white;

    &:hover {
        @extend .ba;
        @extend .b--black;
    }

    margin-bottom: 20px;
}

.post-content {
    @extend .pa3;
    background: white;
    max-height: 485px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    content: '';
}

.opening-post {
    @extend .mb2;
    margin-bottom: 20px;
}

.opening-post,
.post-preview {
    a {
        @extend .dim;
        text-decoration: none;
        color: black;
    }
}

.vote {
    svg {
        @extend .pr1;
        width: 0.625em;
    }
}

button.reply {
    @extend .dim;
    @extend .pointer;

    background: transparent;
    color: teal !important;
    border: 1px solid teal;
    border-radius: 4px;
    padding: 2px;
}
