.tippy-popper {
    > div {
        padding: 0;
        background: transparent;
    }
}

.tooltip {
    @extend .pv2;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;

		span,
    a {
        @extend .w-100;
        @extend .pv2;
        @extend .ph3;
        @extend .tl;

        &:hover {
            color: black;
            opacity: 100;
            @extend .w-100;
            background: #f8f9fa;
        }
    }
}
