@import '~react-quill/dist/quill.snow.css';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.selected {
    background: red !important;
}
