@import '../node_modules/react-quill/dist/quill.snow.css';
@import '../node_modules/react-tabs/style/react-tabs.css';
@import url('https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.ql-toolbar.ql-snow {
    border: 1px solid #d9d9d9;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ql-container.ql-snow {
    border: 1px solid #d9d9d9;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 120px;
    max-height: 50vh;
    overflow-y: auto;
}

.primary {
    color: #079e99;
}

.b--primary {
    color: #079e99;
}

.bg-primary {
    background-color: #079e99;
}

.card {
    border-radius: 3px;
    box-shadow: 0 1px 2px #c9cccd;
}

.ant-form-explain {
    white-space: pre-line;
}

.twitter-tweet {
    margin: 0 auto;
}

.ql-mention-list-item.selected {
    background: #eeeeee;
}
.ql-editor {
    font-size: 14px;
}
.ql-snow a {
    text-decoration: none !important;
    color: #079e99;
}
