@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

@import '~tachyons';
@import '~react-tabs/style/react-tabs.css';
@import '~react-tippy/dist/tippy.css';
@import 'components/all';
@import "pages/all";

@import '~react-toastify/dist/ReactToastify.css';
@import '~react-quill/dist/quill.snow.css';

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    color: #989c9e;
    padding-right: 0 !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.content {
    background-color: #ecf0f1;
}

button {
    border: 0;
}

a {
    @extend .green;
    @extend .no-underline;
    @extend .pointer;
}

.bg-green {
    background: #079E99 !important;
}

.green {
    color: #079E99 !important;
}

.gray {
    color: #7D8894 !important;
}

.sidebar {
    max-height: calc(100vh - 55px - 15px);
    overflow: auto;
    position: sticky;
}

.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;

    //ul {
    //    padding: 0;
    //}
    //
    //li {
    //    @extend .ph3;
    //    @extend .pv1;
    //    list-style-type: none;
    //
    //    &.active {
    //        text-decoration: none;
    //        background-color: #007bff;
    //
    //        a {
    //            color: #fff !important;
    //        }
    //
    //        &:hover {
    //            text-decoration: none;
    //            background-color: #007bff;
    //        }
    //    }
    //
    //    &:hover {
    //        color: #16181b;
    //        text-decoration: none;
    //        background-color: #f8f9fa;
    //    }
    //}
}

.divider-line {
    height: 1px;
    line-height: 1px;
    border-bottom: 1px solid #f1f1f1;
}

.tag-icon {
    max-width: 24px;
    height: 24px;
}

.disable-user-select {
    user-select: none;
}

.enable-user-select {
    user-select: text;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.small-title {
    color: #7D8894;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.dim {
    @extend .dim;
    &:focus {
        opacity: 1 !important;

        &:hover {
            opacity: 0.5 !important;
        }
    }
}

.overflow-break-word {
    overflow-wrap: break-word;
}
